.board {
    display: grid;
    width: 650px;
    height: 650px;
}

.tile{
    width: 81.25px;
    height: 81.25px;
    position: relative;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(8,12.5%);
    grid-template-rows: repeat(8,12.5%);
}

.tile--light {
    background-color: #97BC62;
}

.tile--dark {
    background-color: #2C5F2D;
}

.highlight:after {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #FDF3C3;
    border-radius: 50%;
}

.attacking:after {
    display: block;
    position: absolute;
    content: '';
    border: 6px solid red;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    left: 0;
    top: 0;
}